<div id="add-new-tab" class="tab" style="display:none">
  <h3 class="text-gray-400 font-bold text-3xl mb-2"><i class="fas fa-plus-square mr-1"></i> Add Reddit Community</h3>
  <p class="text-gray-600 text-lg mb-6">Monitor any community on Reddit. Just copy and paste the URL for any community you want to monitor.</p>
  <div class="border border-gray-800 rounded p-8 mb-6" style="background: rgba(19, 23, 32, 1.000)">
    <div class="mb-6 text-lg">
      <label class="block text-gray-500 uppercase tracking-wide mb-2" for="username">
        Website
      </label>
      <select id="redditURL-type" class="shadow appearance-none border rounded w-full py-2 px-3  bg-gray-900 border-gray-700 text-gray-300 leading-tight focus:outline-none focus:shadow-outline">
        <option value="reddit">Reddit</option>
        <option value="twitter">Twitter</option>
        <option value="youtube">YouTube</option>
        <option value="worldstar">WorldStarHipHop</option>
      </select>
    </div>
    <div class="mb-6 text-lg">
      <label class="block text-gray-300 uppercase font-bold mb-2" for="username">
        URL
      </label>
      <input id="redditURL" class="shadow appearance-none border rounded w-full py-2 px-3  bg-gray-900 border-gray-700 text-gray-300 leading-tight focus:outline-none focus:bg-gray-800" type="text">
    </div>
    <div class="mb-6 text-lg">
      <label class="block text-gray-300 uppercase font-bold mb-2" for="username">
        Name
      </label>
      <input id="redditURL-name" class="shadow appearance-none border rounded w-full py-2 px-3  bg-gray-900 border-gray-700 text-gray-300 leading-tight focus:outline-none focus:bg-gray-800" type="text">
    </div>
  </div>
  <a href="#" id="add-reddit-url" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 float-right rounded">Add Community</a>
</div>
