<header id="header" style="display:none">
  <div class="float-right mt-1 dropdown inline-block relative">
    <button class="text-sm text-gray-600 py-1 px-2 border border-gray-800 rounded inline-flex items-center">
      <i class="fas fa-cog mr-2"></i> Settings
    </button>
    <ul class="text-sm dropdown-menu absolute hidden text-gray-600 pt-1">
      <li><a id="delete-community" class="rounded-t bg-gray-900 py-2 px-4 block whitespace-no-wrap" href="#">Delete</a></li>
    </ul>
  </div>
  <h2 class="text-gray-500 text-3xl font-bold mb-4"><i class="fab fa-reddit mr-1"></i> <a href="#" id="reddit-link" class="browser_link">/r/<strong id="community-name" class="text-gray-400">name</strong></a></h2>
</header>
