<div id="sidebar" class="border-gray-700 text-gray-500 bg-gray-800 border-right pt-8 border-r">
  <div class="px-3 pt-3">
    <div class="bar bg-gray-900 border border-gray-700 rounded mb-4"><div class="in five-minutes rounded"></div></div>
    <hr class="border-t-0 border-b border-gray-700 mb-4">
    <div id="main_nav" class="mb-4 font-medium">
      <a id="dashboard" href="#" class="block py-1 px-2 capitalize border border-gray-800"><i class="fas fa-tachometer-alt" style="width: 22px;"></i> Dashboard</a>
      <a id="add-community" href="#" class="block py-1 px-2 capitalize border border-gray-800"><i class="fas fa-plus-square" style="width: 22px;"></i> Add Reddit URL</a>
      <a id="settings" href="#" class="block py-1 px-2 capitalize border border-gray-800"><i class="fas fa-cog" style="width: 22px;"></i> Settings</a>
    </div>
    <hr class="border-t-0 border-b border-gray-700 mb-4">
    <div id="community_list" class="font-medium"></div>
  </div>
</div>
