<div id="nav" class="bg-gray-800 border border-gray-700 rounded mb-4" style="display:none">
  <nav class="flex justify-between flex-col sm:flex-row">
    <button data-tab="overview" class="tab-link text-gray-500 py-4 px-6 block focus:outline-none">
      <i class="fas fa-database mr-1"></i> Overview
    </button>
    <button data-tab="analytics" class="tab-link text-gray-500 py-4 px-6 block focus:outline-none">
      <i class="fas fa-chart-pie mr-1"></i> Keywords
    </button>
    <button data-tab="images" class="tab-link text-gray-500 py-4 px-6 blockfocus:outline-none">
      <i class="far fa-image mr-1"></i> Images <span id="images-total" class="ml-2 font-medium rounded border border-gray-700 py-1 px-2 text-xs leading-none text-gray-600">0</span>
    </button>
    <button data-tab="videos" class="tab-link text-gray-500 py-4 px-6 block  focus:outline-none">
      <i class="far fa-play-circle mr-1"></i> Videos <span id="videos-total" class="ml-2 font-medium rounded border border-gray-700 py-1 px-2 text-xs leading-none text-gray-600">0</span>
    </button>
  </nav>
</div>
