<div data-tab="analytics" class="tab" style="display:none">
  <table class="table-fixed border-gray-700" style="width: 100%">
    <thead class="bg-gray-800 border border-gray-700 text-gray-300">
      <tr>
        <th class="w-2/5 px-4 py-2 text-left">Word</th>
        <th class="w-1/5 px-4 py-2 text-left">Count</th>
        <th class="w-1/5 px-4 py-2 text-left">Posts</th>
        <th class="w-1/5 px-4 py-2 text-left">Mentioned</th>
      </tr>
    </thead>
    <tbody id="word-table" style="background: rgba(19, 23, 32, 1.000)"></tbody>
  </table>
</div>
