@import "../node_modules/tailwindcss/dist/base.css";
@import "../node_modules/tailwindcss/dist/components.css";
@import "../node_modules/tailwindcss/dist/utilities.css";

* {
  -webkit-font-smoothing: antialiased;
}

html {
  -webkit-app-region: drag
}

body {
  padding: 30px 40px;
  font-family: 'Roboto', sans-serif;
  padding-left: 240px;
  overflow-x: hidden;
  height: 100vh;
}

.font-headline {
  font-family: 'Barlow', sans-serif;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default
}

a, button, .video-click, .video-click *, .post-click, .post-click * {
  cursor: pointer !important
}

::-webkit-scrollbar-thumb {
  background: #2d3748;
  border-radius: 15px;
}

::-webkit-scrollbar {
  background: #202634;
  width: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#photos {
  line-height: 0;
  column-count: 4;
  column-gap: 10px;
}

#dashboard-images #photos {
  column-count: 4;
}

#dashboard-images #photos img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: 0.3s all;
}

#dashboard-images #photos img:hover {
  filter: none;
  opacity: 1
}

#sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-app-region: drag
}

#community_list a, #data-container * {
  transition: all 0.3s;
}

button.tab-link.disabled {
  opacity: .4;
  cursor: default !important;
}

.active-tab #images-total, .active-tab #videos-total {
  background: rgba(234, 248, 255, 1.000) !important;
  color: rgba(49, 130, 206, 1.000) !important;
  border-color: rgba(234, 248, 255, 1.000) !important;
}

.shadow-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(26, 32, 44);
  background: linear-gradient(90deg, rgba(26, 32, 44, 1) 10%, rgba(26, 32, 44, 0) 100%);
  width: 50%;
  z-index: 999
}

.hover-zoom {
  transition: all 300ms;
}

.hover-zoom:hover {
  transform: scale(1.04);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4) !important;
  background: #131720;
  cursor: pointer !important;
}

.included-link {
  opacity: 0;
}

.hover-zoom:hover .included-link {
  transition: all 200ms;
  opacity: 1;
}

.hover-zoom:hover .shadow-image-overlay {
  background: linear-gradient(90deg, rgba(19, 23, 32, 1.0) 10%, rgba(19, 23, 32, 0) 100%);
  width: 50%;
  margin-left: -10px;
  transition: all 200ms;
}

#community_list {
  height: calc(100vh - 235px);
  overflow-x: hidden;
  -webkit-app-region: none
}

#community_list::-webkit-scrollbar-thumb {
  background: #202634;
  border-radius: 15px;
}

#community_list::-webkit-scrollbar {
  background: none;
  width: 10px;
}

/*#add-community {
  position: fixed;
  width: 170px;
  bottom: 70px;
  left: 15px;
}

#settings {
  position: fixed;
  width: 170px;
  bottom: 15px;
  left: 15px;
} */
#search, .fancybox-bg {
  -webkit-app-region: none
}

.bar {
  height: 8px;
  width: 100%;
  display: block;
  z-index: 999999
}

.bar .in {
  height: 100%;
  background-color: rgba(67, 153, 225, 1.000);
  border-bottom: 1px solid rgba(255, 255, 255, 0.40);
  border-top: 1px solid rgba(255, 255, 255, 0.40);
  border-right: 1px solid rgba(255, 255, 255, 0.40);
}

.one-minute {
  animation: fill 60s linear infinite;
}

.two-minutes {
  animation: fill 120s linear infinite;
}

.five-minutes {
  animation: fill 300s linear infinite;
}

.ten-minutes {
  animation: fill 600s linear infinite;
}

.thirty-minutes {
  animation: fill 1800s linear infinite;
}

@keyframes fill {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.paginationjs {
  font-size: 14px;
  box-sizing: initial
}

.paginationjs:after {
  display: table;
  content: "";
  clear: both
}

.paginationjs .paginationjs-pages {
  float: left
}

.paginationjs .paginationjs-pages ul {
  float: left;
  margin: 0;
  padding: 0
}

.paginationjs .paginationjs-go-button, .paginationjs .paginationjs-go-input, .paginationjs .paginationjs-nav {
  float: left;
  margin-left: 10px;
  font-size: 14px
}

.paginationjs .paginationjs-pages li {
  float: left;
  border: 1px solid #2d3748;
  border-right: none;
  list-style: none
}

.paginationjs .paginationjs-pages li>a {
  min-width: 30px;
  height: 28px;
  line-height: 28px;
  display: block;
  background: #131720;
  font-size: 14px;
  color: #718096;
  text-decoration: none;
  text-align: center
}

.paginationjs .paginationjs-pages li>a:hover {
  background: #2d3748
}

.paginationjs .paginationjs-pages li.active {
  border: none
}

.paginationjs .paginationjs-pages li.active>a {
  height: 30px;
  line-height: 30px;
  background: #718096;
  color: #fff
}

/*.paginationjs .paginationjs-pages li.disabled>a {
  opacity: .3
}

.paginationjs .paginationjs-pages li.disabled>a:hover {
  background: 0 0
} */
.paginationjs .paginationjs-pages li:first-child, .paginationjs .paginationjs-pages li:first-child>a {
  border-radius: 3px 0 0 3px
}

.paginationjs .paginationjs-pages li:last-child {
  border-right: 1px solid #2d3748;
  border-radius: 0 3px 3px 0
}

.paginationjs .paginationjs-pages li:last-child>a {
  border-radius: 0 3px 3px 0
}

.paginationjs .paginationjs-go-input>input[type=text] {
  width: 30px;
  height: 28px;
  background: #131720;
  border-radius: 3px;
  border: 1px solid #2d3748;
  padding: 0;
  font-size: 14px;
  text-align: center;
  vertical-align: baseline;
  outline: 0;
  box-shadow: none;
  box-sizing: initial
}

.paginationjs .paginationjs-go-button>input[type=button] {
  min-width: 40px;
  height: 30px;
  line-height: 28px;
  background: #2d3748;
  border-radius: 3px;
  border: 1px solid #2d3748;
  text-align: center;
  padding: 0 8px;
  font-size: 14px;
  vertical-align: baseline;
  outline: 0;
  box-shadow: none;
  color: #718096;
  cursor: pointer;
  vertical-align: middle\9
}

.paginationjs.paginationjs-theme-blue .paginationjs-go-input>input[type=text], .paginationjs.paginationjs-theme-blue .paginationjs-pages li {
  border-color: #289de9
}

.paginationjs .paginationjs-go-button>input[type=button]:hover {
  background-color: #f8f8f8
}

.paginationjs .paginationjs-nav {
  height: 30px;
  line-height: 30px
}

.paginationjs .paginationjs-go-button, .paginationjs .paginationjs-go-input {
  margin-left: 5px\9
}

.paginationjs.paginationjs-small {
  font-size: 12px
}

.paginationjs.paginationjs-small .paginationjs-pages li>a {
  min-width: 26px;
  height: 24px;
  line-height: 24px;
  font-size: 12px
}

.paginationjs.paginationjs-small .paginationjs-pages li.active>a {
  height: 26px;
  line-height: 26px
}

.paginationjs.paginationjs-small .paginationjs-go-input {
  font-size: 12px
}

.paginationjs.paginationjs-small .paginationjs-go-input>input[type=text] {
  width: 26px;
  height: 24px;
  font-size: 12px
}

.paginationjs.paginationjs-small .paginationjs-go-button {
  font-size: 12px
}

.paginationjs.paginationjs-small .paginationjs-go-button>input[type=button] {
  min-width: 30px;
  height: 26px;
  line-height: 24px;
  padding: 0 6px;
  font-size: 12px
}

.paginationjs.paginationjs-small .paginationjs-nav {
  height: 26px;
  line-height: 26px;
  font-size: 12px
}

.paginationjs.paginationjs-big {
  font-size: 16px
}

.paginationjs.paginationjs-big .paginationjs-pages li>a {
  min-width: 36px;
  height: 34px;
  line-height: 34px;
  font-size: 16px
}

.paginationjs.paginationjs-big .paginationjs-pages li.active>a {
  height: 36px;
  line-height: 36px
}

.paginationjs.paginationjs-big .paginationjs-go-input {
  font-size: 16px
}

.paginationjs.paginationjs-big .paginationjs-go-input>input[type=text] {
  width: 36px;
  height: 34px;
  font-size: 16px
}

.paginationjs.paginationjs-big .paginationjs-go-button {
  font-size: 16px
}

.paginationjs.paginationjs-big .paginationjs-go-button>input[type=button] {
  min-width: 50px;
  height: 36px;
  line-height: 34px;
  padding: 0 12px;
  font-size: 16px
}

.paginationjs.paginationjs-big .paginationjs-nav {
  height: 36px;
  line-height: 36px;
  font-size: 16px
}

.paginationjs .paginationjs-pages li.paginationjs-next {
  border-right: 1px solid #2d3748\9
}

.paginationjs .paginationjs-go-input>input[type=text] {
  line-height: 28px\9;
  vertical-align: middle\9
}

.paginationjs.paginationjs-big .paginationjs-pages li>a {
  line-height: 36px\9
}

.paginationjs.paginationjs-big .paginationjs-go-input>input[type=text] {
  height: 36px\9;
  line-height: 36px\9
}